
<ion-header>

  <ion-navbar>
    <ion-title>Coleta de {{ title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <p><strong>A coleta de {{title}} é do cliente {{agenda.nome_cliente}} - {{agenda.nome_ponto}}</strong></p>



    <!--<strong>1) Qual o material coletado ?</strong>
    <ion-list>
      <ion-item>
        <ion-label>Material</ion-label>
        <ion-input type="text" [(ngModel)]="Cmaterial"></ion-input>
      </ion-item>
    </ion-list>-->


      <!--<strong>2) Utilização ?</strong>
      <ion-list>
        <ion-item>
          <ion-label>Uma amostra de:</ion-label>
          <ion-select [(ngModel)]="Cutilizacao" multiple="false" okText="OK" cancelText="Cancelar">
            <ion-option *ngFor="let item of utilizacao" [value]="item.id" text-wrap>{{ item.nome }}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="Cutilizacao == 0">
          <ion-label>Outros</ion-label>
          <ion-input type="text" [(ngModel)]="CutilizacaoOutro"></ion-input>
        </ion-item>
      </ion-list>-->

      <strong>1) Qual é a amostra ? *</strong>
    <ion-list>

      <ion-item>
        <ion-textarea placeholder="Amostra" [(ngModel)]="Camostra"></ion-textarea>
      </ion-item>
    </ion-list>

    <strong>2) {{labelData_fabricacao}}</strong>
    <ion-list>
      <ion-item>
        <ion-label>{{labelData_fabricacao_placeholder}}</ion-label>
        <ion-input type="text" [(ngModel)]="Cfabricacao"></ion-input>
      </ion-item>
    </ion-list>

    <strong>3) Qual é a data de validade ?</strong>
    <ion-list>
      <ion-item>
        <ion-label>Data de validade</ion-label>
        <ion-input type="text" [(ngModel)]="Cvalidade"></ion-input>
      </ion-item>
    </ion-list>

    <strong>4) Qual é a marca ?</strong>
    <ion-list>
      <ion-item>
        <ion-label>Marca</ion-label>
        <ion-input type="text" [(ngModel)]="Cmarca"></ion-input>
      </ion-item>
    </ion-list>

    <strong>5) Qual é o fornecedor ?</strong>
    <ion-list>
      <ion-item>
        <ion-label>Fornecedor</ion-label>
        <ion-input type="text" [(ngModel)]="Cfornecedor"></ion-input>
      </ion-item>
    </ion-list>

    <strong>6) Qual é o local de amostragem ?</strong>
    <ion-list>
      <ion-item>
        <ion-label>Local de amostragem</ion-label>
        <ion-input type="text" [(ngModel)]="Clocalamostragem"></ion-input>
      </ion-item>
    </ion-list>

    <strong>7) Qual é o lote ?</strong>
    <ion-list>
      <ion-item>
        <ion-label>Lote</ion-label>
        <ion-input type="text" [(ngModel)]="Clote"></ion-input>
      </ion-item>
    </ion-list>

    <strong>8) Qual é a temperatura da amostra  (°C)  ?</strong>
    <ion-list>
      <ion-item>
        <ion-label>Temperatura da amostra</ion-label>
        <ion-input type="number" [(ngModel)]="Ctempamostra"></ion-input>
      </ion-item>
    </ion-list>

      <strong>9) Temperatura do branco de temperatura na coleta (°C)</strong>
      <ion-list>
        <ion-item>
        <ion-label>Temperatura do Branco</ion-label>
          <ion-input type="number" [(ngModel)]="Ctemp_branco"></ion-input>
        </ion-item>

      </ion-list>



    <strong>10) Observações</strong>
    <ion-list>
      <ion-item>
        <ion-textarea placeholder="Observação" [(ngModel)]="Cobs"></ion-textarea>
      </ion-item>
    </ion-list>

    <strong>11) Data da amostra</strong>
    <ion-list>
      <ion-item>
        <ion-label>Data</ion-label>
          <ion-input type="datetime-local" [(ngModel)]="dataDaColeta"></ion-input>
        </ion-item>
    </ion-list>



    <strong>12) Identificador de Amostra</strong>
    <ion-list>
      <ion-item>
        <ion-label>ID</ion-label>
        <ion-input type="number" [(ngModel)]="CidAmostra"></ion-input>
      </ion-item>
    </ion-list>

      <button ion-button full (click)="Salvar();" *ngIf="DataColetado == 0"><ion-icon name="checkmark-circle">&nbsp;&nbsp;</ion-icon>Salvar</button>

      <button ion-button full *ngIf="DataColetado == 1" (click)="update(idArray);"><ion-icon name="refresh">&nbsp;&nbsp;</ion-icon>Salvar</button>
</ion-content>
s
