page-home {
    .ion-content {
        padding-top: 30px;

        background: #FFFFFF;
        color:#134F36;
        vertical-align: middle;
        height: 100%;
        text-align: center;
        font-size: 16pt;
    }

    .btLogar {
        background: #A13234;
        color: #FFFFFF;
    }
}
