<ion-header>

    <ion-navbar>
      <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
      </button>

      <ion-title>Tipo de coleta</ion-title>
    </ion-navbar>

  </ion-header>


  <ion-content padding>

    <div>
      <p><ion-icon name="person">&nbsp;&nbsp;</ion-icon><strong>COLETOR:</strong>  {{ name_coletor }} </p>
      <p><ion-icon name="briefcase">&nbsp;&nbsp;</ion-icon><strong>CLIENTE:</strong>  {{ name_client }} </p>
      <br />
      <hr style="height:2px; border:none; color:#000; background-color:#000; margin-top: 0px; margin-bottom: 0px;"/>
      <br/>
    </div>

    <ion-list>

      <ion-item (click)="chose_category(6)" *ngIf="collect_aliment_beneficiado > 0">Alimentos Beneficiados</ion-item>
      <ion-item (click)="chose_category(4)" *ngIf="collect_aliment_fabricado > 0">Alimentos Fabricados</ion-item>
      <ion-item (click)="chose_category(5)" *ngIf="collect_aliment_preparado > 0">Alimentos Preparados</ion-item>
      <ion-item (click)="chose_category(1)" *ngIf="collect_watter > 0">Água</ion-item>
      <ion-item (click)="chose_category(2)" *ngIf="collect_cosmetic > 0">Cosméticos</ion-item>
      <ion-item (click)="chose_category(3)" *ngIf="collect_swab > 0">Swabs</ion-item>
<!--
      <ion-item (click)="chose_category(6)" >Alimentos Beneficiados</ion-item>
      <ion-item (click)="chose_category(4)" >Alimentos Fabricados</ion-item>
      <ion-item (click)="chose_category(5)" >Alimentos Preparados</ion-item>
      <ion-item (click)="chose_category(1)" >Água</ion-item>
      <ion-item (click)="chose_category(2)" >Cosméticos</ion-item>
      <ion-item (click)="chose_category(3)" >Swabs</ion-item>
-->


    </ion-list>


  </ion-content>
